<p>Invitation from {{name}}</p>
<p>Please click the below link to join the project</p>
<p>
  <a href='{{url}}'>Join Project</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>